<div class="container">
  <nav id="menu-boulangerie">
    <img id="logo-boulangerie" src="assets/logo.png" alt="Logo Boulangerie" />
    <ul id="main-menu" class="horizontal-list-4">
      <li>
        <a routerLink="/">Accueil</a>
      </li>
      <li>
        <a routerLink="#how">A propos</a>
      </li>
      <li>
        <a routerLink="/pastries">Découvrir</a>
      </li>
      <li>
        <a routerLink="#contact">Contact</a>
      </li>
    </ul>
  </nav>
  <hr>

  <div class="card-section">
    <div class="head-card">
      <h3>Notre menu</h3>
    </div>
    <div class="body-card">
      <ul class="list-pastries">
        <li *ngFor="let pastrie of pastries">
          <img class="thumb-pastrie" src={{pastrie.image}} alt={{pastrie.name}} />
          <p class="product-name">{{ pastrie.name  | uppercase }}</p>
          <p class="product-price">{{ pastrie.price }} €</p>
          <a id="add-product" class="plus" routerLink="/pastries/{{pastrie.id}}">En savoir plus</a>
          <a id="remove-product" class="moins" (click)="removePastrieById(pastrie.id)"><img src="assets/trash.svg" alt="Remove item" /></a>
        </li>
      </ul>
    </div>
    <div class="bottom-card">
      <a class="button" routerLink="/pastries/new">Ajouter un produit</a>
    </div>
  </div>
</div>