<div class="container">

  <nav id="menu-boulangerie">
    <img id="logo-boulangerie" src="assets/logo.png" alt="Logo Boulangerie" />
    <ul id="main-menu" class="horizontal-list-4">
      <li>
        <a routerLink="/">Accueil</a>
      </li>
      <li>
        <a routerLink="#how">A propos</a>
      </li>
      <li>
        <a routerLink="/pastries">Découvrir</a>
      </li>
      <li>
        <a routerLink="#contact">Contact</a>
      </li>
    </ul>
  </nav>
  <hr>

  <div class="line-sup"></div>
  <div class="card-section">
    <div class="body-card">
        <div class="details" *ngIf="pastrie">
          <img class="thumb-pastrie" src={{pastrie.image}} alt={{pastrie.name}} />
          <p class="product-name">{{ pastrie.name  | uppercase }}</p>
          <p class="product-type">{{ pastrie.type }}</p>
          <p class="product-price">{{ pastrie.price }} €</p>
          <a id="add-product" class="plus" routerLink="/pastries/{{pastrie.id}}">Mettre à jour</a>
          <a id="remove-product" class="plus" (click)="removePastrieById(pastrie.id)">Suprimmer</a>
          <p class="product-description">{{pastrie.description}}</p>
        </div>
    </div>
    <div class="bottom-card">
      <!-- <a class="button" routerLink="/pastries/new">Ajouter un produit</a> -->
    </div>
  </div>

  <section id="contact">
    <ul class="horizontal-list-3">
      <li>
        <a>Facebook</a>
      </li>
      <li>
        <a>Instagram</a>
      </li>
      <li>
        <a>Twitter</a>
      </li>
    </ul>
    <div id="google-container">
      <img src="assets/maps.jpg" />
    </div>
  </section>
</div>
