.container{
    width: 90%;
  display: block;
  margin: auto;
  position: relative;
}


nav#menu-boulangerie {
    display: grid;
    grid-template-columns: 100px 1fr;
  }
  
  nav#menu-boulangerie #logo-boulangerie {
    width: 100%;
    height: auto;
  }
  
  nav#menu-boulangerie #main-menu {
    text-decoration: none;
    margin: 0;
    list-style: none;
  }
  
  #main-menu li {
    align-self: center;
    justify-self: center;
  }
  
  #main-menu li a {
    text-decoration: none;
    color: black;
    font-weight: 300;
  }
  #main-menu li a:hover {
    text-decoration: overline;
  }

.line-sup{
    border-bottom: 1px solid var(--grayColor);
    width: 100%;
}

.card-section{
    height: auto;
    background-color: var(--lightColor);
    position: relative;
}

.details{
    display: grid;
    grid-template-areas: 
    "image name name"
    "image type type"
    "image price price"
    "image plus remove"
    "image description description";
    grid-template-columns: 50% 1fr 1fr;
    padding: 10px;
    height: 100%;
    grid-column-gap: 20px; 
}

.list-pastries a{
    align-self: center;
}

.thumb-pastrie{
    grid-area: image;
    width: 100%;
    align-self: center;
    border: 2px solid var(--grayColor);
    padding: 10px;
}
.product-name{
    grid-area: name;
    font-weight: 700;
    font-size: 2em;
    align-self: center;
}

.product-type{
    grid-area: type;
    font-weight: 400;
    font-size: 1em;
    align-self: center;
}
.product-price{
    font-size: 1.5em;
    grid-area: price;
    border-bottom: 1px solid var(--grayColor);
    font-weight: 600;
    align-self: center;
}
.plus-product{
    grid-area: plus;
}
.remove-product{
    grid-area: remove;
}
.product-description{
    grid-area: description;
    font-weight: 400;
    font-size: 1em;
    align-self: justify;
}

.plus{
    font-size: .9em;
    text-decoration: none;
    width: 100%;
    max-width: 300px;
    color: white;
    background-color: black;
    padding: 10px;
    border: 2px solid black;
    transition: all ease .1s;
    text-align: center;
    height: 45px;
}

.plus:hover{
    background-color: white;
    color: black;
}
