.container{
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    align-items: center;
    height: 100%;
    max-height: 100vh;
    background-color: var(--pinkColor);
}

#logo-boulangerie{
  display: block;
  margin: auto;
}

.wrap {
    width: 90%;
    max-width: 500px;
    padding: 40px;
    margin: auto;
  }
  .contenedor-formulario {
    width: 100%;
    padding: 50px;
    margin-top: 20px;
    background-color: white;
    border-radius: var(--radius);
    color: var(--darkColor);
  }
  .contenedor-formulario .formulario {
    width: 100%;
    margin: auto;
  }

.contenedor-formulario .formulario .input-group {
    position: relative;
    margin-bottom: 32px;
  }
  .contenedor-formulario .formulario .input-group input[type="text"],
  .contenedor-formulario .formulario .input-group input[type="email"],
  .contenedor-formulario .formulario .input-group input[type="number"] {
    font-family: "Roboto", Arial;
    font-size: 16px;
    color: var(--darkColor);
    width: 100%;
    outline: none;
    padding: 15px;
    background: none;
    border: none;
    border-bottom: 1px solid var(--darkColor);
    transition: all 0.1s ease;
  }
  .contenedor-formulario .formulario .input-group input[type="text"]:focus,
  .contenedor-formulario .formulario .input-group input[type="text"]:active,
  .contenedor-formulario .formulario .input-group input[type="email"]:focus,
  .contenedor-formulario .formulario .input-group input[type="email"]:active,
  .contenedor-formulario .formulario .input-group input[type="text2"]:focus,
  .contenedor-formulario .formulario .input-group input[type="text2"]:active{
    outline: none;
    border-bottom: 2px solid var(--mainColor);
  }
  .contenedor-formulario .formulario .input-group input[type="text"].error,
  .contenedor-formulario .formulario .input-group input[type="email"].error,
  .contenedor-formulario .formulario .input-group input[type="text2"].error{
    border-bottom: 2px solid var(--redColor);
  }
  .contenedor-formulario .formulario .input-group input[type="text"].error + label,
  .contenedor-formulario .formulario .input-group input[type="email"].error + label,
  .contenedor-formulario .formulario .input-group input[type="text2"].error{
    color: var(--redColor);
  }
  .contenedor-formulario .formulario .input-group label.label{
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    margin-left: 15px;
    font-size: 16px;
    line-height: 16px;
    position: absolute;
    top: 16px;
    left: 0;
  }
  
  .contenedor-formulario .formulario .input-group label.label.active {
    top: -12px;
    font-size: 12px;
    line-height: 12px;
    color: var(--mainColor);
  }

  .contenedor-formulario .formulario .input-group.error label{
    color: var(--redColor);
    
  }
  .contenedor-formulario .formulario .input-group.error label:before {
    border: 2px solid var(--redColor);
  }
  .contenedor-formulario .formulario .input-group.error label:hover {
    background: var(--redColor);
    /*rgba(211, 47, 47, 0.2)*/
  }

  .contenedor-formulario .formulario input[type="submit"] {
    background: var(--pinkColor);
    border: none;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-family: "Roboto", Arial;
    font-size: 16px;
    padding: 15px;
    width: 100%;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .contenedor-formulario .formulario input[type="submit"]:hover {
    background: var(--mainColor);
  }