<div class="container">
  <div class="wrap">
    <img width="100" id="logo-boulangerie" src="assets/logo.png" alt="Logo Boulangerie">
    <div class="contenedor-formulario">
      <div class="formulario">
        <form (ngSubmit)="onSubmit()" #pastriesForm="ngForm">
    
          <div class="input-group">
            <input type="text" id="name" name="name" placeholder="Nom" [(ngModel)]="pastrie.name" #name="ngModel" />
          </div>
    
          <div class="input-group">
            <input type="text" id="type" name="type" placeholder="Type" [(ngModel)]="pastrie.type" #type="ngModel" required />
          </div>
    
          <div class="input-group">
            <input type="number" id="price" name="price" placeholder="Prix (Numbers)" [(ngModel)]="pastrie.price" #price="ngModel" required />
          </div>
    
          <div class="input-group">
            <input type="text" id="image" name="image" placeholder="Lien de l'image (Image URL)" [(ngModel)]="pastrie.image" #image="ngModel" required />
          </div>
    
          <div class="input-group">
            <input type="text" id="description" name="image"  placeholder="Description" [(ngModel)]="pastrie.description" #description="ngModel" required />
          </div>
    
          <input type="submit" [disabled]="!pastriesForm.form.valid" class="btn btn-info" value="Envoyer" />
        </form>
      </div>
    </div>
  </div>
</div>

